body {
  color: #40514E;
  background-color: #c6faf0;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1 {
  color: #008080;
  font-size: 4.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #008080;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #008080;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 60px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

bcolor {
  background-color: #00FFC6;
}

.top-container {
  background-color: #E4F9F5;
  background-image: url("https://i.ibb.co/CK8WTC3/background.png");
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-bottom: 300px;
  padding-right: 50px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.projects{
  margin: 100px;
  border-radius: 30px;
  padding: 100px 0;
  background-color: skyblue;

}
.aboutme{
  margin: 100px;
  border-radius: 30px;
  padding: 50px 0;
  background-color: skyblue;

}
.para{
  text-align: left;
  padding: 0px 40px;
}
.projname{
  text-align: left;
  font-size: 20px;
  padding-left: 20px;
  text-decoration: underline;
}
.profpic {
  width: 200px;
  height: 200px;
}
.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 70%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/* .top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
} */

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chess-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.travel-img {
  width: 20%;
  height: 170px;
  border-radius: 30px;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #247881;
  background-image: -webkit-linear-gradient(top, #247881, #069A8E);
  background-image: -moz-linear-gradient(top, #247881, #069A8E);
  background-image: -ms-linear-gradient(top, #247881, #069A8E);
  background-image: -o-linear-gradient(top, #247881, #069A8E);
  background-image: linear-gradient(to bottom, #247881, #069A8E);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #43919B;
  background-image: -webkit-linear-gradient(top, #43919B, #00FFC6);
  background-image: -moz-linear-gradient(top, #43919B, #00FFC6);
  background-image: -ms-linear-gradient(top, #43919B, #00FFC6);
  background-image: -o-linear-gradient(top, #43919B, #00FFC6);
  background-image: linear-gradient(to bottom, #43919B, #00FFC6);
  text-decoration: none;
}